@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

.containerAboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleAboutMe{
    font-family: 'Montserrat', sans-serif;
    color:  #0dc3c3 ;
}
.paragraphAboutMe{
    color:  #2987ac ;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    width: 80%;
    font-size: 120%;
    line-height: 180%;
    margin-top: 2%;
}
.linkLaboratoria{
    text-decoration: none;
    color:  #8d8b03 ;
    font-family: 'Montserrat', sans-serif;
}
.containerIcon{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;
    cursor: pointer;
    animation: vanishIn 1s;
}
.figureIcon{
    display: flex;
    justify-content: center;
    width: 150%;
}
.imgIcon{
    width: 10%;
}
.titleIcon{
    color:  #2987ac ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    background-color: transparent;
    background: transparent;
    /* box-shadow: 15px 20px 50px 0px rgb(75, 75, 75); */
}
.containerIcons{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@keyframes vanishIn {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(1,1);
      filter: blur(90px);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
      filter: blur(0px);
    }
  }
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .paragraphAboutMe{
        font-size: 90%;
    }
    .figureIcon{
        width: 400%;
    }
    .containerIcon{
        width: 30%;
    }
    .imgIcon {
        width: 20%;
    }

}