.containerContacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgContacts{
    width: 20%;
    margin-top: 7%;
    margin-left: 3%;
}
.titleContact{
    font-family: 'Montserrat', sans-serif;
    color: #0dc3c3;;
    font-size: 180%;
    font-weight: 800;
}
.containerIconsContacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 12%;
  margin-top: 5%;
}
.iconContacts{
  width: 20%;
}
.containerIconContacts{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.aIcon{
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.textIcon{
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  font-weight: 700;
  color: black;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .textIcon{
    font-size: 90%;
  }
  .containerContacts{
    display: flex;
    flex-direction: column;
  }
  .imgContacts{
    width: 35%;
    margin-top: 2%;
    margin-left: 0%;
  }
  .containerIconsContacts{
    margin-left: 0%;
    margin-top: 15%;
  }
  .iconContacts{
    width: 13%;
  }
}