
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.titleText{
    position: absolute;
    top: 33%;
    left: 35%;
    font-size: 200%;
    animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) 8 normal;
    transform: translateY(-50%);   
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Anonymous Pro', monospace;
    border-right: 4px solid rgba(255,255,255,.75);
}
.titleText2{
  position: absolute;
  top: 42%;
  left: 36%;
  font-size: 200%;
  animation: typewriter2 3s steps(44) 4s 1 normal both,
  blinkTextCursor2 700ms steps(44) 4s infinite normal;
  transform: translateY(-50%);   
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Anonymous Pro', monospace;
  border-right: 4px solid rgba(255,255,255,.75);
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 27.5em;}
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(2, 0, 0, 0.849);}
    to{border-right-color: transparent;}
}
@keyframes blinkTextCursor2{
  from{border-right-color: rgba(2, 0, 0, 0.849);}
  to{border-right-color: transparent;}
}
header{
  margin-top: 7%;
}
.fotoPerfil{
  position: relative;
  top: 18%;
  left: 10%;
  width: 18%;
  border-radius: 15px;
  transition: border-radius 0.5s ease-out;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  -webkit-animation: morph 6s ease-in-out infinite both alternate;
  animation: morph 6s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40%/60% 30% 70% 40%;
}
100% {
    border-radius: 40% 60%;
}
}
.imgFondoHome{
  position:unset;
  width: 50%;
  margin-top: 23%;
  margin-left: 35%;
}